.navbar-custom {
    background-color: #00bcd4;
}

.navbar-custom .nav-link{
color: #e8f0fe;
}

/* color cuando pasas el mouse */
.navbar-custom .nav-link:hover{
color:#e8f0fe;
}

.sidebar-custom{
background-color:#e10a17;
}

